@import "./breakpoints.scss";
@import "./typography.scss";
@import "./grid.scss";
@import "./logged-out-page.scss";

* {
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #314ab8;
    --clr-secondary: #226b13;
    --clr-yellow: rgb(197, 197, 50);
    --clr-background: #e7e7e7;
    --clr-text-disabled: rgb(192, 192, 192);
    --clr-text-main: #222222;
    --clr-error: #a32121;
}

a {
    text-decoration: none;
    color: unset;
}

textarea {
    width: 80%;
    height: 200px;
    margin-top: 20px;
    padding: 20px;
    resize: none;
    outline: none;
    border: 2px solid black;

    &:focus {
        border: 2px solid var(--clr-primary);
    }
}

textarea.errorText {
    border: 2px solid var(--clr-error);
}


.spacer {
    height: 100px;
}

.btn {
    border: none;
    outline: none;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 1.2rem;
}

.background-red{
    background-color: var(--clr-error);
}

.background-blue{
    background-color: var(--clr-primary);
}

.background-green{
    background-color: var(--clr-secondary);
}

.hide-btn {
    width: fit-content;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.err {
    border: 2px solid var(--clr-error) !important;
}

.error-text {
    color: var(--clr-error);
    margin-top: 4px;
}